{% extends "_layout/base.html" %}

{% block content %}
<div class="page-header"><h1>Create new collection</h1></div>

<form method="POST" action="{{url_for('ui.collection_create')}}">
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="input-name" class="control-label">Name</label>
        <input type="text" autofocus class="form-control" id="input-name"
          name="name" placeholder="12FR34" required>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="form-group">
        <label for="input-description" class="control-label">Description</label>
        <input type="text" class="form-control" id="input-description"
          name="description" placeholder="Quad frobnicator">
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <label for="input-count" class="control-label">Count</label>
        <input type="number" min="0" required class="form-control"
          id="input-count" name="count">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="input-cabinet" class="control-label">Cabinet</label>
        <select class="form-control" id="cabinet-select">
          <option value="none">None</option>
          {% for cab in cabinets %}
          <option value="cab_{{cab.id}}">{{cab.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="input-drawer" class="control-label">Drawer</label>
        <select class="form-control" name="drawer"
          id="drawer-select" disabled></select>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span>
    Create collection
  </button>
</form>

{% endblock %}

{% block scripts %}
<script>
var DRAWER_DATA = {{ drawers | tojson }};
</script>
<script src="{{url_for('static', filename='js/collection_create.js')}}"></script>
{% endblock %}
