{% extends '_layout/base.html' %}

{% block content %}

<div class="page-header">
  <h1>CSV Data Export</h1>
</div>

<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6">
    <a href="{{url_for('ui.export_collections')}}" class="btn btn-default" style="width: 100%">
      Collections
    </a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6">
    <a href="{{url_for('ui.export_links')}}" class="btn btn-default" style="width: 100%">
      Resource links
    </a>
  </div>
</div>

{% endblock %}
