.bb-container { display: flex; }

.bb-container-toplevel {
    display: flex; flex-flow: column nowrap; align-items: center;
}

.bb-container-drawer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bb-container-drawer > a {
    display: flex;
    padding: 0.5em;
    margin: 0.5em;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: inherit;
}

.bb-container-drawer > a:hover {
    background-color: #9e9e9e;
}

.bb-container-drawer .label {
    text-align: center;
}
