gunicorn
psycopg2

# These are requirements we know we'll need for the webapp so we might as well
# install them here where we have the opportunity to pin their versions.

flask
flask-debugtoolbar
flask-graphql
flask-migrate
flask-shell-ipython
flask-sqlalchemy

graphene>=1.0
graphene_sqlalchemy
sqlalchemy
sqlalchemy-utils

furl
python-dateutil
pyyaml

future

